<section class="logo">
  <%= image_tag('THUNDERCLAP-logo.png', width: "800", height: "396") %>
</section>

<p class="employers-message">Employers! Please click Sign In to sign in as a guest user.</p>

<section class="new-session-buttons group">
  <div class="sign-in">Sign In</div>
  <div class="sign-up">Sign Up</div>
</section>

<section id="modal" class="sign-in">
  <section id="sign-in">
      
    <section class="facebook-sign-in">
       <a href="/auth/facebook" class="fb-signin"><img src="https://www.musicgivz.com/images/facebooklogin.png" width="270" height="46"></a>
    </section>
  
    <% if flash[:errors]%>
    	<% flash[:errors].each do |error| %>
    		<%= error %>
    	<% end %>
    <% end %>
    
    <button class="demo-user">Sign In As Guest</button>

    <form id="sign-in" action="<%= session_url %>" method="post" class="group">
    	<%= auth_token %>
	    
      <input type="text" name="user[email]" value="" placeholder="email" class='email-login'>
      
      <input type="password" name="user[password]" value="" placeholder="password" class='password-login'>

    	<button>Log In</button>
    </form>
  </section>
</section>

<section id="modal" class="sign-up">
  <section id="sign-up">
    <% @user = User.new %>
    <%= render 'users/new', user: @user %>
  </section>
</section>

<script>
$(document).ready(function(){

  $(".sign-in").on("click", function(event){
    $("#modal.sign-in").addClass("is-active");
  });
  
  $(".sign-up").on("click", function(event){
    $("#modal.sign-up").addClass("is-active");
  });

  $(".hide-modal").on("click", function(event){
    event.preventDefault();
    $("#modal").removeClass("is-active");
  });

  $("#modal").on("click", function(event){
    if(event.target.id == this.id){
      event.preventDefault();
      $("#modal").removeClass("is-active");
    }
  });

  $(".demo-user").on("click", function(event) {
    $('.email-login').val("bootsy@funkadelic.com");
    $('.password-login').val("funkadelic")
  })

});
</script>