<div class="username">
  <h1><%= user.escape('username') %></h1>
</div>

<div class="user-show user-follow-button">
  <% if (Thunder.currentUser !== user) { %>
    <% if (Thunder.currentUser.following().findWhere({id: user.id})) { %>
      <div id="unfollow">Unfollow</div>
    <% } else { %>
      <div id="follow">Follow</div>
    <% } %>
  <% } %>
</div>

<div class="user-show-image">
  <% if (user.escape("picture")) { %>
    <img src="<%= user.escape('picture') %>" width="200" height="200">
  <% } else { %>
    <img src="Daft-Punk.jpg" width="200" height="200" alt="Daft Punk">
  <% } %>
</div>

<section class="show group">
  <% if (user === Thunder.currentUser) { %>
    <section class="show-content group">
    	<div class="uploaded-songs">
    		<% if (user.uploads()) { %>
    			<ul>
    				<% user.uploads().forEach( function (song) { %>
    					<li><a href="#/songs/<%= song.id %>"><%= song.escape("title") %></a></li>
    				<% }); %>
    			</ul>
    		<% } %>
        <a href="# create and save new song">Upload New Song</a>
    	</div>

    	<div class="playlists">
  		<% if (user.playlists()) { %>
  			<ul>
  				<% user.playlists().forEach( function (playlist) { %>
  					<a href="#/playlists/<%= playlist.id %>"><%= playlist.escape("title") %></a></li>
  				<% }); %>
  			</ul>
  		<% } %>
    	<a href="">Create New Playlist</a>
    	</div>
    
    	<div class="likes">
  		<% if (user.likes()) { %>
  			<ul>
  				<% user.likes().forEach( function (song) { %>
  					<li><a href="#/songs/<%= song.id %>"><%= song.escape('title') %></a></li>
  				<% }); %>
  			</ul>
  		<% } %>
      </div>
   
     	<div class="followers">
     	<% if (user.followers()) { %>	
        <ul>
   			  <% user.followers().forEach( function(user) { %>
   				  <li><a href="/#/users/<%= user.id %>"><%= user.escape('username') %></a></li>
   			  <% }) %>	
        </ul>		
   		<% }%>
     	</div>
  	
      <div class="following">
    	<% if (user.following()) { %>	
        <ul>
   			  <% user.following().forEach( function(user) { %>
   				  <li><a href="/#/users/<%= user.id %>"><%= user.escape('username') %></a></li>
   			  <% }) %>	
        </ul>		
  		<% }%>
      </div> 
    </section>
    <% } else { %>
    <section class="show-content group">
    	<div class="uploaded-songs">
    		<% if (user.uploads()) { %>
    			<ul>
    				<% user.uploads().forEach( function (song) { %>
    					<li><a href="#/songs/<%= song.id %>"><%= song.escape("title") %></a></li>
    				<% }); %>
    			</ul>
    		<% } %>
        <a href="# create and save new song">Upload New Song</a>
    	</div>

    	<div class="playlists">
  		<% if (user.playlists()) { %>
  			<ul>
  				<% user.playlists().forEach( function (playlist) { %>
  					<a href="#/playlists/<%= playlist.id %>"><%= playlist.escape("title") %></a></li>
  				<% }); %>
  			</ul>
  		<% } %>
    	<a href="">Create New Playlist</a>
    	</div>
    </section>
    <% } %>
</section>