<section class='user-show-page group'>
  <section class='user-show-sidebar'>
    <div class="user-show-image">
      <a href="/#/users/<%= user.id %>">
        <% if (user.escape("picture")) { %>
          <img src="<%= user.escape('picture') %>" width="200" height="200">
        <% } else { %>
          <img src="Daft-Punk.jpg" width="200" height="200" alt="Daft Punk">
        <% } %>
      </a>
    </div>

    <div class="name">
      <p class="first-name"><%= user.escape('first_name') %></p>
      <p class="last-name"><%= user.escape('last_name') %></p>
      <p class="username"><%= user.escape('username') %></p>
    </div>
  
    <div class="user-show follow">
      <% if (Thunder.currentUser !== user) { %>
        <% if (Thunder.currentUser.following().findWhere({id: user.id})) { %>
          <div id="unfollow">Unfollow</div>
        <% } else { %>
          <div id="follow">Follow</div>
        <% } %>
      <% } %>
    </div>
  </section>

  <section class="user-show-stream">
  
  </section>

  <section class="user-show-content group">
    <% if (user === Thunder.currentUser) { %>
      <section class="show-content group">
      	<div class="playlists">
    		<% if (user.playlists()) { %>
           <div class="sidebar-right-header">Playlists</div>
    			<ul>
    				<% user.playlists().forEach( function (playlist) { %>
    					<a href="#/playlists/<%= playlist.id %>"><%= playlist.escape("title") %></a></li>
    				<% }); %>
    			</ul>
          <a href="">Create New Playlist</a>
    		<% } %>
      	</div>
    
      	<div class="likes">
    		<% if (user.likes()) { %>
           <div class="sidebar-right-header"><%= user.likes().size() %> likes</div>
    			<ul class="likes group">
    				<% user.likes().forEach( function (song) { %>
    					<li><a href="#/songs/<%= song.id %>"><img src="<%= song.escape('image') %>" width="50" height="50"></a></li>
    				<% }); %>
    			</ul>
    		<% } %>
        </div>
   
       	<div class="followers">
       	<% if (user.followers()) { %>	
          <div class="sidebar-right-header">Followed by</div>
          <ul class="followers group">
     			  <% user.followers().forEach( function(user) { %>
     				  <li><a href="/#/users/<%= user.id %>"><img src="<%= user.escape('picture') %>" width="50" height="50"></a></li>
     			  <% }) %>	
          </ul>		
     		<% }%>
       	</div>
  	
        <div class="following">
      	<% if (user.following()) { %>
           <div class="sidebar-right-header"><%= user.following().size() %> following</div>	
          <ul class="following group">
     			  <% user.following().forEach( function(user) { %>
     				  <li><a href="/#/users/<%= user.id %>"><img src="<%= user.escape('picture') %>" width="50" height="50"></a></li>
     			  <% }) %>	
          </ul>		
    		<% }%>
        </div> 
      </section>
      
      <% } else { %>
        
      <section class="show-content group">
      	<div class="playlists">
          Playlists
    		<% if (user.playlists()) { %>
    			<ul>
    				<% user.playlists().forEach( function (playlist) { %>
    					<a href="#/playlists/<%= playlist.id %>"><%= playlist.escape("title") %></a></li>
    				<% }); %>
    			</ul>
    		<% } %>
      	</div>
      
      	<div class="likes">
    		<% if (user.likes()) { %>
           <div class="sidebar-right-header"><%= user.likes().size() %> likes</div>
    			<ul class="likes group">
    				<% user.likes().forEach( function (song) { %>
    					<li><a href="#/songs/<%= song.id %>"><img src="<%= song.escape('image') %>" width="50" height="50"></a></li>
    				<% }); %>
    			</ul>
    		<% } %>
        </div>
   
       	<div class="followers">
       	<% if (user.followers()) { %>	
          <div class="sidebar-right-header">Followed by</div>
          <ul class="followers group">
     			  <% user.followers().forEach( function(user) { %>
     				  <li><a href="/#/users/<%= user.id %>"><img src="<%= user.escape('picture') %>" width="50" height="50"></a></li>
     			  <% }) %>	
          </ul>		
     		<% }%>
       	</div>
  	
        <div class="following">
      	<% if (user.following()) { %>
           <div class="sidebar-right-header"><%= user.following().size() %> following</div>	
          <ul class="following group">
     			  <% user.following().forEach( function(user) { %>
     				  <li><a href="/#/users/<%= user.id %>"><img src="<%= user.escape('picture') %>" width="50" height="50"></a></li>
     			  <% }) %>	
          </ul>		
    		<% }%>
        </div>
      </section>
      <% } %>
  </section>
  
  <% if (user !== Thunder.currentUser) { %>
    <section class="upcoming-shows">
      <script type='text/javascript' src='http://widget.bandsintown.com/javascripts/bit_widget.js'></script>
      <a href="http://www.bandsintown.com/<%= user.escape('username') %>" class="bit-widget-initializer" data-artist="<%= user.escape('username') %>" data-display-limit=5 data-width='40%' data-force-narrow-layout="true"><%= user.escape('username') %> Tour Dates</a>
    </section>
  <% } %>
  
  
  
</section>

