<h1>Upload New Song</h1>

<% if flash[:errors]%>
	<% flash[:errors].each do |error| %>
		<%= error %>
	<% end %>
<% end %>

<form action="<%= songs_url %>" method="post" enctype="multipart/form-data">
	<%= auth_token %>
	
	<label>
		Title
		<input type="text" name="song[title]" value="<%= @song.title %>" placeholder="title">
	</label>
	<br>
	<br>
  
	<label>
		Genre
    <select name="song[genre_id]">
      <% @genres.each do |genre| %> %>
        <option value="<%= genre.id %>"><%= genre.name %></option>
      <% end %>
    </select>
	</label>
	<br>
  <br>
	
	<label>
		Description
		<textarea name="song[description]" value="<%= @song.description %>" placeholder="description"></textarea>
	</label>
	<br>
  <br>
	
  <label>
    Choose File
    <input type="file" name="song[track]">
  </label>
  <br>
  <br>
  
  <label>
    Choose Image
    <input type="file" name="song[image]">
  </label>
  <br>
  <br>
	
	<button>Upload New Song</button>
</form>