<h1><%= @song.title %></h1>

<h2><%= @song.artist %></h2>

<h3>Description</h3>
<%= @song.description %>

<h3>Genre</h3>
<%= @song.description %>
<br>
<br>

<%= render partial: "like_button", locals: {song: @song} %>

<h2>Create New Playlist</h2>
<%= link_to "Create New Playlist", new_playlist_url(song: @song) %>
<br>