<section class="song-show group">
  <div class="song-show-info">
    <ul class="song-show-top group">
      <div class="song-show-artist-title">
        <li class="song-show-artist"><%= @song.artist %></li>
    
        <li class="song-show-title"><%= @song.title %></li>
      </div>
      
      <div class="show-music-player-widget"></div> 
      
      <div class="song-show-buttons group">
        <li><%= render partial: "like_button", locals: {song: @song} %></li>
        <li><%= link_to "Add to Playlist", new_playlist_song_url%></li>
      </div>
    </ul>
  </div>
  
  <div class="add-comment">
    <%= render "comments/comment", song: @song %>
  </div>
  
  <div class="song-show-image">
    <% if @song.image.path.nil? %>
      <img src="<%= asset_path("Daft-Punk.jpg") %>" width="200" height="200" alt="Daft Punk">
    <% else %>
      <%= image_tag @song.image.url(:standard) %>
    <% end %>
  </div>
<section>
