<section class="song-show group">
  <div class="song-show-info">
    <ul class="song-show-top group">
      <div class="song-show-artist-title">
        <li class="song-show-artist"><a href="<%= user_url(@song.uploader) %>"><%= @song.uploader.username %></a></li>
    
        <li class="song-show-title"><a href="<%= song_url(@song.id) %>"><%= @song.title %></li>
      </div>
      
      <div class="show-music-player-widget"></div> 
      
      <div class="song-show-buttons group">
        <li><%= render partial: "like_button", locals: {song: @song} %></li>
        <li><%= render partial: "playlist_songs/new", locals: {song: @song}%></li>
      </div>
    </ul>
  </div>
  
  <div class="add-comment">
    <%= render "comments/comment", song: @song %>
  </div>
  
  <div class="song-show-image">
    <% if @song.image.path.nil? %>
      <img src="<%= asset_path("Daft-Punk.jpg") %>" width="200" height="200" alt="Daft Punk">
    <% else %>
      <%= image_tag @song.image.url(:standard) %>
    <% end %>
  </div>
  
  <div class="song-comments">
    <h3>Comments</h3>
    <ul>
      <% @comments.each do |comment| %>
        <li><%= comment.body %> | <strong><%= comment.user.username %></strong> | <strong><%= Date.parse(comment.created_at.to_s) %></strong> </li>
      <% end %>
    </ul>
  </div>
<section>
