<h1><%= @song.title %></h1>

<h2><%= @song.artist %></h2>

<h3>Description</h3>
<%= @song.description %>

<h3>Genre</h3>
<%= @song.description %>
<br>
<br>

<%= render partial: "like_button", locals: {song: @song} %>

<a href="<%= user_url(@user) %>">Back to Profile</a>