<h1><%= @song.title %></h1>

<h2><%= @song.artist %></h2>

<h3>Description</h3>
<%= @song.description %>

<h3>Genre</h3>
<%= @song.description %>
<br>
<br>

<%= render partial: "like_button", locals: {song: @song} %>

<h2>Playlists</h2>
	<ul>
		<% @playlists.each do |playlist| %>
			<% unless playlist.songs.include?(@song) %>
			<li><%= playlist.title %></li>
			<%= button_to "Add Song to Playlist", 
					playlist_songs_url(playlist_id: playlist.id, song_id: @song.id) %>
			<% end %>
		<% end %>
	</ul>


<%= link_to "Create New Playlist", new_playlist_url(song: @song) %>
<br>