<section class="song-show-top">
  
  <div class="song-info song-show">
    <div class="song-uploader song-show">
      <a href="/#/users/<%= song.escape('user_id') %>">
        <%= song.escape('uploader') %>
      </a>
    </div>
    
    <div class="song-title-line group">
      <div class="play-pause-buttons">
        <div id="play-button">&#9654</div>
        <div id="pause-button">&#9616;&#9616;</div>
      </div>
    
      <div class="song-title song-show">
        <%= song.escape('title') %>
      </div>
    </div>
    
    <div class="waveform">
      <div class="waveform-progress-bar" id="song-show<%= song.id %>"></div>
      <% if (song.escape("waveform")) { %>
        <img class='music-player-widget' id="music-player-widget" width=1040 src="<%= song.escape('waveform') %>">
      <% } else { %>
        <img class='music-player-widget' id="music-player-widget" width=1040 src="https://s3.amazonaws.com/Soundcloud-Clone-Malcolm-Dev/songs/tracks/000/000/013/waveform_copy/waveform/Klingande_-_Jubel.png">
      <%  end %>
    </div>
    
    <div class='comment-form'>
      <form id="add-comment">
        <input type="text" name="comment[body]" placeholder="Write A Comment">
        <input type="hidden" name="comment[song_id]" value="<%= song.id %>">
      </form>
    </div>
    
    <div class='buttons group'>
      <div class="like-buttons song-show">
        <button id="unlike-song">Unlike</button>
        <button id="like-song">Like</button>
      </div>
    
      <button class='song-show' id="add-to-playlist">Add To Playlist</button>
    </div>
  </div>
  
</section> 

<section class="song-show-bottom group">
  <div class="image">
    <img class="song-image song-show" src="<%= song.escape('image') %>"></img>
  </div>
    
  <div class="comments">
    <% if (song.comments().size() == 1) { %>
      <%= song.comments().size() %> comment
    <% } else { %>
      <%= song.comments().size() %> comments
    <% } %>
    <ul class="comments group"></ul>
  </div>
  
  <div class="song-stats-likes">
    <% if (song.likes().size() == 1) { %>
      <%= song.likes().size() %> like
    <% } else { %>
      <%= song.likes().size() %> likes
    <% } %>
  </div>
</section>
