<section class="song-stream group">
  <div class="song-image song-stream">
    <img src="<%= song.escape('image') %>"></img>
  </div>

  <div class="song-info song-stream">
    <div class="song-uploader">
      <a href="/#/users/<%= song.escape('user_id') %>">
        <%= song.escape('uploader') %>
      </a>
    </div>

    <div class="song-title">
      <a href="/#/songs/<%= song.id %>">
        <%= song.escape('title') %>
      </a>
    </div>

    <div class="music-player-widget" id="music-player-widget">
    </div>

    <div class="song-buttons song-stream group">
      <ul>
        <% if (Thunder.currentUser.likes().findWhere({id: song.id})) { %>
          <li><div id="unlike-song">Unlike</div></li>
        <% } else { %>
          <li><div id="like-song">Like</div></li>
        <% } %>
          <li><div id="add-to-playlist">Add To Playlist</div></li>
      </ul>
    </div>
  </div>
</section>
