<section class="song-stream group">
  <div class="song-image song-stream">
    <a href='/#/songs/<%= song.id %>'><img class="song-image-stream" src="<%= song.escape('image') %>"></img></a>
  </div>

  <div class="song-info song-stream">
    <div class="song-uploader">
      <a href="/#/users/<%= song.escape('user_id') %>">
        <%= song.escape('uploader') %>
      </a>
    </div>
    
    <div class="song-title-line group">
      <div class="play-pause-buttons">
        <div id="play-button">&#9654</div>
        <div id="pause-button">&#9616;&#9616;</div>
      </div>
      
      <div class="song-title song-stream">
        <a href="/#/songs/<%= song.id %>">
          <%= song.escape('title') %>
        </a>
      </div>
    </div>

    <div class="waveform">
      <div class="waveform-progress-bar song-stream" id="song-stream<%= song.id %>"></div>
      <img class='music-player-widget' id="music-player-widget" width=450 src="<%= song.escape('waveform') %>">
    </div>

    <div class="like-buttons song-stream">
      <button id="unlike-song">Unlike</button>
      <button id="like-song">Like</button>
    </div>
    
    <button class='song-stream' id="add-to-playlist">Add To Playlist</button>
  </div>
</section>
