<h1>Create New Playlist</h1>

<% if flash[:errors]%>
	<% flash[:errors].each do |error| %>
		<%= error %>
	<% end %>
<% end %>

<form action="<%= playlists_url %>" method="post">
	<%= auth_token %>
	
	<label>
		Title
		<input type="text" name="playlist[title]" value="<%= @playlist.title %>" placeholder="title">
	</label>
	<br>
	<br>
	
	<label>
		Description
		<textarea name="playlist[description]" value="<%= @playlist.description %>" placeholder="description"></textarea>
	</label>
	<br>
	<br>
	
	<label>
		Genre
		<textarea name="playlist[genre]" value="<%= @playlist.genre %>" placeholder="genre"></textarea>
	</label>
	<br>
	<br>
	
	<label>
		Songs
		<br>
		<input type="hidden" name="playlist[song_ids][]" value="">
		<% current_user.likes.each do |song| %>
			<input type="checkbox" name="playlist[song_ids][]" value="<%= song.id %>">
	  		<label><%= song.title %></label>
				<br>
		<% end %>
	</label>
  <br>
	<br>
	
	<button>Create New Playlist</button>
</form>