<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav></nav>
	<% if logged_in? %>
		<%= button_to "Sign Out", session_url, :method => :delete %>	
	<% else %>
		<%= link_to "Sign In", new_session_url%>
		<%= link_to "Sign Up", new_user_url%>
	<% end %>

<%= yield %>
<br>
<br>
<a href="<%= user_url(current_user) %>">Profile</a>

</body>
</html>
