<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
  </head>
  <body>
    <header class="header">
      <div class="header wrap group">
        
        <nav class="nav-left">
          <% if current_user %>
            <ul class='group'>
              <li><a href="/#/">Stream</a></li>
              <li><a href="<%= genres_url %>">Explore</a></li>
            </ul>
          <% end %>
        </nav>
    
        <nav class="nav-right">
          <% if logged_in? %>
          <ul class="group">
            <li><a href="/#/users/<%= current_user.id %>"><%= current_user.username %></a></li>
            <li><a href="<%= notifications_url %>">Notifications</a></li>
            <li><a href="<%= edit_user_url(current_user) %>">*</a></li> 
            <li><%= link_to "Sign Out", session_url, method: :delete %>	
          </ul>
          <%# else %>
            <%#= link_to "Sign In", new_session_url%>
            <%#= link_to "Sign Up", new_user_url%>
          <% end %>
        </nav>
   
      </div>
    </header>
  
    <div class="main group">
    <%= yield %>
    </div>

    <footer>
    Stuff
    </footer>
  </body>
</html>
